<br><br>
<P class="text-center">
    Cet outil se propose d'optimiser le processus des démarches administratives au Burundi.</P>
Son utilisation se veut le plus simple possible: <br>
<ol>
    <li>
        Un utilisateur voulant un document au Burundi se connecte.
        Au besoin, il faudra créer ses identifiants.
    </li>
    <li>
        Il crée sa demande. Cela commence par une prise de rendez-vous pour déposer les documents nécessaires.
    </li>
    <li>
        Un agent doit se connecter et prendre en compte la demande.
        C'est lui qui propose les rendez-vous et qui change au besoin les états de la demande.
    </li>
    <li>
        A chaque moment, l'utilisateur peut se connecter pour consulter l'état de sa demande.
    </li>
    <li>
        Chaque état de la demande a un délai au delà duquel le demandeur devra appeler l'administration ou s'y rendre
        pour
        faire des réclammations.
    </li>
</ol>
<br><br><br><br><br>