<br><br>
<p class="text-center">Here are the technical informations</p>
As said on the <a routerLink="/home">home page</a>, we have a set of task for defferent users off our application. 
One profile that is not mentionned is the super agent.
The super agent has the same profil as the agent. He can also manage the agents.
Here is the use case diagram of our system:
<br><br>
<div class="text-center">
    <img src="./assets/images/useCaseDiagram.png" alt="Usecase diagram">
</div>
<br><br><br>

Here are the different classes that we have in our system:
<br><br>
<div class="text-center">
    <img src="./assets/images/classDiagram.png" alt="Class diagram">
</div>
<br><br><br>

Here are our development priority:
<ol>
    <li>
        Authentication
    </li>
    <li>
        Rendez-vous
    </li>
    <li>
        States
    </li>
</ol>

If you have a technical question, feel free to contact <a href="https://fiacre-nsanzabandi.com/">Fiacre Nsanzabandi</a>.

<!-- TODO: Add the proposition that we want to give to the administration-->


